
@import url(http://fonts.googleapis.com/css?family=Roboto+Mono:100);

.clearfix {
  clear: both;
}

#street_address, #lob_address {
  text-align: center;
}

#lob_address {
  padding-bottom: 10px !important;
}

.wma-nav__completed, .wma-nav__active {
  cursor: pointer;
}

#wma-app .wma-info__checkout-btn {
  padding: 10px 0;
}
#wma-app .wma-info__map-container {
  background: none;
}
#wma-app .wma-info__map-container:after {
  padding-top: 0;
}
#wma-app .wma-service__location-map-container {
  background-image: '';
}
#interactive_map {
  height: 300px;
  width: 100%;
}


#wma-app .wma-form__checkbox label {
  padding-left: 0;
  display: block;
}

/* calendar */

#first-pickup-date-text {
  padding: 10px;
  font-size: 17px;
  color: #702e79;
  background-color: #FFFFFF;
  border: 1px solid #DDDDDD;
}

#first-pickup-datepicker th {
  text-align: center;
}

#wma-app .wma-products__title-note {
  font-style: normal;
  color: #333333;
  font-family: 'proxima_novalight';
}

.bootstrap-datetimepicker-widget {
  background-color: #FEFEFE;
  border: 1px solid #DDDDDD;
}

.bootstrap-datetimepicker-widget table td.active, .bootstrap-datetimepicker-widget table td.active:hover {
  background-color: #702e79;
  border-radius: 0;
}

.bootstrap-datetimepicker-widget table td.disabled, .bootstrap-datetimepicker-widget table td.disabled:hover {
  background-color: #FEFEFE;
  color: #DDDDDD;
  border-radius: 0;
}

.day {
  border: 1px solid #EEEEEE;
}

.day:not( .disabled ):not( .new ):not( .old ) {
  border: 2px solid #702e79;
  border: 2px solid #702e79;
}

.day.old.disabled, .day.new.disabled, .day.old, .day.new {
  color: #FEFEFE !important;
}

.day.old.active, .day.new.active {
  visibility: hidden;
}

.bootstrap-datetimepicker-widget ul {
  margin-bottom: 0 !important;
}

/* forms */

#wma-app .form-control, #wma-app .wma-base__form-control, #wma-app .wma-choose__selector-date {
  border-radius: 0;
}

.wma-base__form-group.col-md-6 {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.wma-info__map-container {
  margin-top: 70px !important;
}

.wma-info__map-container > span {
  color: #702e79;
  font-weight: bold;
}

/* billing */

textarea:focus, input:focus{
    border: 2px solid #702e79 !important;
}

label[for='wma-cst-expdate'], label[for='wma-cst-cvv'] {
  width: 100% !important;
}

#wma-cst-cvv {
  width: auto;
  float: left;
}

#wma-cst-cvv-info {
  width: 25px;
  height: 25px;
  margin-top: 5px;
  margin-left: 5px;
  text-align: center;
  line-height: 30px;
  font-size: 15px;
  float: left;
  color: white;
  font-weight: bold;
  background-color: #CCCCCC;
  border-radius: 100%;
  cursor: pointer;
}

.wma-base__title {
  clear: both;
}

#wma-cst-adr-cty, #wma-cst-billadr-cty {
  text-align: right;
}

#wma-btn-change-address, .wma-billing__service-category > span {
  color: #702e79;
  text-decoration: underline;
  font-size: 12px !important;
  cursor: pointer;
}

address {
  font-size: 18px;
  font-weight: bold;
}

.wma-billing__service-detail {
  border-bottom: 1px solid rgba(0,0,0,0.06);
}

label[for=wma-cst-billsameaddr] {
  font-weight: normal !important;
}

label[for=wma-cst-billterms] {
  font-style: italic;
}

label[for=wma-cst-billterms] > em {
  font-weight: bold;
}

#wma-cst-crdnbr + span {
  float: right !important;
  color: #DDD;
  margin-top: -32px;
  margin-right: 15px;
}

/* checkboxes */

input[type=checkbox] {
  display: none !important;
}

input[type=checkbox] + label:before {
  content: "";  
  display: inline-block;  
  width: 30px;  
  height: 30px;  
  vertical-align:middle;
  margin-right: 8px;  
  background-color: #FFFFFF;  
  border-radius: 2px;  
  border: 1px solid #D8D8D8;
}

input[type=checkbox]:checked + label:before {
  content:"×";
  color: #702e79;
  text-align:center;
  line-height:18px;
  text-shadow:0px 0px 3px #eee;
  font-family: 'Roboto Mono', '';
  font-weight: 100;
  font-size: 40px;
  font-style: normal;
}

@media ( max-width: 992px ) {

  .wma-billing__summary {
    margin-top: 100px;
  }

  .wma-info__column {
    padding-top: 20px;
  }

}

/*-----------------*/

.wma-base__title > img {
  float: right;
  width: 55px;
}

img.greyscale {
  filter: gray; /* IE6-9 */
  filter: grayscale(1); /* Firefox 35+ */
  -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
}

/* Disable grayscale on hover */
img.greyscale:hover {
  filter: none;
  -webkit-filter: grayscale(0);
}